<template id="x-props">
  <script>
    this.__proto__["x-props"] ??= {
      convert: {
        number: parseFloat,
        float: parseFloat,
        integer: parseInt,
      },

      convertProp(type, value) {
        return this.convert[type] ? this.convert[type](value) : value;
      },
    };
    const helpers = this["x-props"];

    this.observedProps = Object.fromEntries(
      this.compile().attrs.observe?.reduce(
        (result, value) =>
          result.concat(
            value.split(/,+/).map((pair) => pair.trim().split(/\s+/))
          ),
        []
      )
    );

    this.$props = Object.fromEntries(
      Object.keys(this.observedProps).map((name) => {
        return [
          name,
          helpers.convertProp(
            this.observedProps[name],
            this.getAttribute(name)
          ),
        ];
      })
    );

    Object.entries(this.observedProps).forEach(([name, type]) => {
      Object.defineProperty(this, name, {
        get: () => {
          return this.$props[name];
        },
        set: (value) => {
          if (this.$props[name] !== value) {
            this.dispatchEvent(
              new CustomEvent(`update:${name}`, {
                detail: {
                  value,
                  old: this.$props[name],
                },
              })
            );
            this.$props[name] = value;
          }
        },
      });
    });

    this.addEventListener("attributeChanged", ({ detail: { name, value } }) => {
      this.$props[name] = helpers.convertProp(
        this.observedProps[name],
        this.getAttribute(name)
      );
    });
  </script>
</template>
